.container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    padding: 8px;
}

td {
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}

h1 {
    text-align: center;
    padding: 20px;
}