.upload-section {
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
}
.upload-section h2 {
  text-align: center;
}
.upload-section p {
  color: #666;
}
/* Style for the file input button */
.file-input-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.file-input-button input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.upload-button, input::file-selector-button {
  background-color: #333; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; /* Add a mouse pointer on hover */
}

.upload-button:hover {
  background-color: #45a049; 
}
